<% if (!logged_in) { %>
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
		<input type="text" class="form-control" id="login-username" value="<%- username %>">
	</div>
    <div class="form-group">
		<input type="password" class="form-control" id="login-key" value="<%- key %>">
	</div>
<button id="loginButton" type="submit" class="btn btn-default">Sign in</button>
</form>
<% } else { %>
<p class="navbar-text">Signed in as <%- username %></p>
<button id="logoutButton" type="button" class="btn btn-default navbar-btn">Sign out</button>
<% } %>