<ol class="breadcrumb">
    <li><%- appConfig.auth.username.split(':')[0] %></li>
    <% _.each(path, function(p) { %>
    <li><%- p %></li>
    <% }) %>
    <li class="active"><%= name %></li>
</ol>
<div class="page-header">
    <h1><% if (item_type == "Object") { %>
            <%= name %>
            <% if(metadata.Etag) { %>
            <small title="<%= metadata.Etag %>"><%= metadata.Etag.substring(0,8) %></small>
            <% } %>
        <% } else if (item_type == "Container") { %>
            <%= name %>
            <small>Container</small>
        <% } else if (item_type == "Account") { %>
            <%- appConfig.auth.username.split(':')[0] %>
            <small>Account</small>
        <% } %>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default download" data-loading-text="Loading..." title="Download <%- item_type %>">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
                <button type="button" class="btn btn-default edit" title="Edit <%- item_type %> Metadata">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default destroy" title="Delete <%- item_type %>">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <% if (item_type == "Object" || item_type == "Container") { %>
                <button type="button" class="btn btn-default upload" title="Upload New Object">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </button>
                <% } %>
                <% if (item_type == "Account" || item_type == "Container") { %>
                <button type="button" class="btn btn-default create-container" title="Create New Container">
                    <span class="glyphicon glyphicon-hdd"></span>
                </button>
                <% } %>

            </div>
        </div>
    </h1>
</div>
<table class="table table-hover table-striped table-metadata">
    <tbody>
    <% _.each(_.keys(metadata).sort(), function(element, index, list) { %>
    <% if(element == "Etag") { return false; } %>
    <tr>
        <th><%- element %></th>
        <td id="<%- element %>" class="metadata"><%- metadata[element] %></td>
    </tr>
    <% }); %>
    </tbody>
</table>

<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" aria-hidden="true"></div>
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="create-modal" aria-hidden="true"></div>