<ol class="breadcrumb">
    <li><%= appConfig.auth.username.split(':')[0] %></li>
    <% _.each(path, function(p) { %>
    <li><%- p %></li>
    <% }) %>
    <li class="active"><%= name %></li>
</ol>
<div class="page-header">
    <h1><%= name %>
        <% if(metadata.Etag) { %>
        <small title="<%= metadata.Etag %>"><%= metadata.Etag.substring(0,8) %></small>
        <% } %>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default download" data-loading-text="Loading..."
                        title="Download Object">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </button>
                <button type="button" class="btn btn-default destroy" title="Delete Object">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="btn btn-default upload" title="Upload New Object">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </button>
            </div>
        </div>
    </h1>
</div>
<table class="table table-hover table-striped">
    <tbody>
    <% for (var i=0, len=_.keys(metadata).length; i
    <len
    ; ++i) { %>
    <% if(_.keys(metadata)[i] == "Etag") { continue; } %>
    <tr>
        <th><%- _.keys(metadata)[i] %></th>
        <td><%- metadata[_.keys(metadata)[i]] %></td>
    </tr>
    <% } %>
    </tbody>
</table>

<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" aria-hidden="true"></div>